{% extends 'tracker/base.html' %}

{% block content %}
	<h1>Welcome {{ username }}</h1>
	<a href="/accounts/logout/">Log Out</a>
	<div class="row">
	    <div class="col-sm">
	    	Add Book
	    	<form action="{% url 'tracker:addBook' %}" method="post">
			{% csrf_token %}
			{{ form }}
			<input type="submit" id="add_book_btn" value="addBook">
		</form>
	    </div>
	</div>
	<div class="row">
	    <div class="col-sm">
	    	<div class="card">
				<div class="card-header">
				    <h5 class="card-title">Books Already Read</h5>
				</div>
				<div class="card-body">
					{% if book_list %}
						<div>
							<ul>
						    {% for book in book_list %}
						    	{% if book.todo == False %}
						        	<li>{{ book.name }}</li>
						    	{% endif %}
						    {% endfor %}
						    </ul>
						</div>
					{% else %}
					    <p>No books have been added to track</p>
					{% endif %}    
				</div>
			</div>
	    </div>
	    <div class="col-sm">
	    	<div class="card">
				<div class="card-header">
				    <h5 class="card-title">Books To Read</h5>
				</div>
				<div class="card-body">
					{% if book_list %}
						<div>
							<ul>
						    {% for book in book_list %}
						    	{% if book.todo %}
						        	<li>{{ book.name }}</li>
						    	{% endif %}
						    {% endfor %}
						    </ul>
						</div>
					{% else %}
					    <p>No books have been added to track</p>
					{% endif %}    
				</div>
			</div>
	    </div>
	</div>
{% endblock %}