{% extends '../tracker/base.html' %}

{% block content %}
	<div class="row" style="padding: 100px">
	    <div class="col-sm">
	    </div>
	    <div class="col-sm">
	    	<div class="row-sm-12">
	    	</div>
	    	<div class="row-sm-12 my-auto">
			    <h1 class="display-2" style="color: white">Register</h5>
	    		<div class="card mx-auto" style="width: 54rem;">
				  	<div class="card-body">
					    <div class="form-group">
					    	<form action="{% url 'signUp' %}" method="post">
								{% csrf_token %}
								{{ form }}
								<input style="margin-top: 5px" class="btn btn-success" type="submit" id="submit-btn" value="Submit">
								<input type="hidden" name="next" value="{{ next }}">
							</form>
						</div>
				    </div>
				</div>
	    	</div>
	    	<div class="row-sm-12">
	    	</div>
	    </div>
	    <div class="col-sm">
	    </div>
  	</div>

{% endblock %}