{% extends 'tracker/base.html' %}


{% block content %}
	<h1 class=".display-4" id="welcome-message"  style="color: white;">Welcome {{ username }}</h1>
	<a href="/accounts/logout/">Log Out</a>
	<a href="/profile">Profile</a>
    	<form action="{% url 'tracker:addBook' %}" method="post">
    		 <div class="d-flex" style="padding: 5px;">
		    	{% csrf_token %}
		        {{ form.name }}	
				<input type="submit" id="add_book_btn" class="btn btn-success" value="Add">
		    </div>
		</form>
	<div class="row" style="padding: 5px;">
	    <div class="col-sm" >
	    	
			<h5 class=".display-4" style="color: white;">Books Already Read</h5>
	    	<div class="card">
				<div class="card-body">
					{% if book_list %}
						<div>
							<ul class="list-group list-group-flush">
						    {% for book in book_list %}
						    	{% if book.already_read %}
						        	<li class="list-group-item">
						        		{{ book.name }}
						        		<a class="text-danger" href="deleteBook/{{ book.id }}"><i class="far fa-trash-alt"></i></a>
						        		<a class="text-success" href="moveBook/{{ book.id }}">To Read</a>
						        	</li>
						    	{% endif %}
						    {% endfor %}
						    </ul>
						</div>
					{% else %}
					    <p>No books have been added to track</p>
					{% endif %}    
				</div>
			</div>
	    </div>
	    <div class="col-sm">
	    	<h5 class=".display-4" style="color: white;">Books To Read</h5>
	    	<div class="card">
				<div class="card-body">
					{% if book_list %}
						<div>
							<ul class="list-group list-group-flush">
						    {% for book in book_list %}
						    	{% if book.already_read == False %}
						        	<li class="list-group-item">{{ book.name }}
						        		<a class="text-danger" href="deleteBook/{{ book.id }}"><i class="far fa-trash-alt"></i></a>
					        			<a class="text-success" href="moveBook/{{ book.id }}">Completed Reading</a>
						        	</li>
						    	{% endif %}
						    {% endfor %}
						    </ul>
						</div>
					{% else %}
					    <p>No books have been added to track</p>
					{% endif %}    
				</div>
			</div>
	    </div>
	</div>
{% endblock %}